<footer>
	<nav class="navbar navbar-default navbar-fixed-bottom ">
  		<div class="container">
  		  	<div class="collapse navbar-collapse" id="">
   			  <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Postres <span class="sr-only">(current)</span></a></li>
		        <li><a href="#"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span> Bebidas</a></li>
		        <li><a href="#">Especiales</a></li>
		        </li>
		      </ul>	
   			</div>
  		</div>
	</nav>
</footer>